﻿@import "../lib/bootstrap/dist/css/bootstrap.css";


.field-validation-error{
    color: red;
}


.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid red;
    background-color: #fee;
}

.validation-summary-errors{
    font-weight: bold;
    color: red;
}

.validation-summary-valid{
    display: none;
}


body {
    display: flex;
    flex-direction: row;
    justify-content: center;

    ul {
        padding-left: 14px;
    }


    .welcome-div {
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        border: 2px solid black;
        padding: 10px;
    }

    .form-div {
        margin-top: 15%;
        border: 2px solid black;
        padding: 10px;

        .form {
            display: flex;
            flex-direction: column;

            .btn-primary {
                margin-top: 10px;
            }
        }
    }

    .supervisor-list-div {
        margin-top: 15%;
        border: 2px solid black;
        padding: 10px;
    }

    .link-div {
        display: flex;
        flex-direction: column;
    }

    .filtered-list-div {
        margin-top: 15%;
        border: 2px solid black;
        padding: 10px;
    }
}
