﻿@import url(../lib/bootstrap/dist/css/bootstrap.css);
.field-validation-error {
  color: red; }

.field-validation-valid {
  display: none; }

.input-validation-error {
  border: 1px solid red;
  background-color: #fee; }

.validation-summary-errors {
  font-weight: bold;
  color: red; }

.validation-summary-valid {
  display: none; }

body {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  body ul {
    padding-left: 14px; }
  body .welcome-div {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    border: 2px solid black;
    padding: 10px; }
  body .form-div {
    margin-top: 15%;
    border: 2px solid black;
    padding: 10px; }
    body .form-div .form {
      display: flex;
      flex-direction: column; }
      body .form-div .form .btn-primary {
        margin-top: 10px; }
  body .supervisor-list-div {
    margin-top: 15%;
    border: 2px solid black;
    padding: 10px; }
  body .link-div {
    display: flex;
    flex-direction: column; }
  body .filtered-list-div {
    margin-top: 15%;
    border: 2px solid black;
    padding: 10px; }
