﻿@model List<MyWebApp.Models.Supervisor>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>AllSupervisors</title>
</head>
<body>

    <div class="supervisor-list-div">
        <h3>List of our current supervisors:</h3>
        <ul>
            @foreach (Supervisor supervisor in Model)
            {
                <li>ID: @supervisor.Id Name: @supervisor.Name</li>
            }
        </ul>

        <div class="link-div">
            <a asp-action="Home">Home</a>
            <a asp-action="SupervisorsWithSList">View filtered supervisors</a>
        </div>
    </div>




</body>
</html>
