﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div class="welcome-div">
        <h1>Welcome to my page!</h1>
        <a asp-action="SupervisorInfo">Click to view info about supervisors</a>
        <p>The current time is @ViewBag.Time</p>
    </div>
</body>
</html>
