﻿@model  MyWebApp.Models.Supervisor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorAdded</title>
</head>
<body>
    <div>
        <br />
        <a asp-action="AllSupervisors">View all current supervisors</a>
    </div>
</body>
</html>
