﻿
@model MyWebApp.Models.Supervisor

@{
    Layout = null;
    
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
</head>
<body>
    <div class="form-div">
        <form class="form" asp-action="SupervisorInfo" method="post">
            <div asp-validation-summary="All"></div>
            Supervisor ID:
            <input asp-for="Id">
            Supervisor name:
            <input asp-for="Name">
            <br />
            <button button type="submit" class="btn btn-primary">Add Supervisor</button>
        </form>
    </div>
</body>
</html>
