﻿@model List<Supervisor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorsWithSList</title>
</head>
<body>
    <div class="filtered-list-div">
        <h3>Supervisors who's names start with an S:</h3>
        <ul>
            @foreach (Supervisor supervisor in Model)
            {
                <li>ID: @supervisor.Id Name: @supervisor.Name</li>
            }
        </ul>
    </div>
</body>
</html>
